p{
    font-weight: 600;
}
.card-wrapper{
    margin: 5.5% auto;
    max-width: 460px;
}
.card-wrapper .card{
    box-shadow: 1px 4px 45px 0 rgba(0, 0, 0, 0.1);
}
.card-body{
    padding: 21px;
}

.quiz-card-wrapper{
    margin: 5.5% auto;
}

.quiz-card{
    box-shadow: 1px 4px 45px 0 rgba(0, 0, 0, 0.1);
}
.hide{
    display: none;
}
.question-title{
    margin-bottom: 56px;
    color: #5cb85c;
    margin-top: 43px;
}
.answer-button-block{
    padding: 16px;
}
.answer-button{
    padding: 21px 39px;
    background: #fff;
    color: #4cae4c;
    font-weight: 700;
}
.answer-button:focus{
    outline: none;
    border-color: #398439;
}
.error{
    color: red;
}
.answer-button:hover{
    background: #4cae4c;
    color: #fff;
}
.next-button{
    margin: 60px 0;
    padding: 17px 43px;
    font-weight: 800;
}
.finish-button{
    margin: 60px 0;
    padding: 17px 43px;
    font-weight: 800;

}
.summary{
    margin-bottom: 48px;
}
.error-wrap{
    padding: 48px;
}
.index-greetings h3{
    color: #4cae4c;
}
.vendon-progress-bar{
    background: #4cae4c;
}
.submit-button input{
    font-weight: 600;
}
.submit-button input:hover{
    background: #4cae4c;
    color: #fff;
}
@media(max-width: 375px) {
    h1{
        font-size: 25px;
    }
}
@media(max-width: 360px) {
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
}
